VITE_API_BASE_URL=http://localhost:8080
VITE_USE_LIVE_API=false
VITE_AUTH_SERVER_BASE_URL=http://localhost:8080
VITE_AUTH_LOGOUT_URL=http://localhost:9000/logout
VITE_AUTH_WEB_CLIENT_ID=web-client
VITE_AUTH_REDIRECT_URI=http://localhost:3000/callback
